body {
  margin: 0px;
}

.header_container {
  margin: 0px 0px;
  padding: 8px 6px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  text-align: left;
  font: 15px "Open Sans", sans-serif;
  font-weight: 700;
}
.logo .emblem {
  width: inherit;
  position: inherit;
  left: 10px;
  top: 0px;
}
.logo .logo-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 10px;
}
h1 {
  padding-top: 8px;
  padding-left: 5px;
}

.header_right img {
  display: inline-block;
  margin-right: 20px;
}

.menu_bar ul {
  display: flex;
  justify-content: center;
  padding-right: 40px;
  margin: auto;
  list-style: none;
  align-items: center;
}


.menu_bar {
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.nav_link {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font: 15px "Open Sans", sans-serif;
  font-weight: 700;
}
ul .nav_item {
  text-decoration: none;
  transition: all 0.6s ease 0s;
}
a.nav_link:hover {
  color: white;
  background: #9e6b22;
}

a:hover{
  color:white;
  text-decoration: none;
}
a.nav_link{
  color: black;
  text-decoration: none;
}

.content h1 {
  font-size: 2em;
  padding-left: 10px;
  font-weight: 700;
}
.content {
  padding: 6rem 1.3rem 1.3rem 1rem;
  display: block;
}
.para p {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2em;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.para h2 {
  font-size: 2em;
  padding-left: 10px;
  font-weight: 700;
}
.para ul li {
  padding-bottom: 15px;
  list-style-type: initial;
  font-weight: 400;
  padding-left: 0px;
}

.para ul {
  list-style-type: circle;
}

hr {
  margin: 0px;
  padding: 0px;
}

.footerMenu ul {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 9px 28px 2px 1px;
}

.item_foot {
  list-style: none;
  padding: 10px;
}
.nav_foot {
  text-align: center !important;
  font-size: 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav_foot:hover {
  text-decoration-line: underline;
}

.CopyRights {
  font-size: 12px;
  font-family: 'Open Sans',sans-serif;
  display: block;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  text-align: center !important;
  margin: auto;
  background-color: black;
  color: white;
}

.CopyRights a {
  color: lightblue;
  text-decoration: none;
}

.CopyRights a:hover {
  text-decoration: underline;
}

.foot_logos {
  border-top: 1px solid rgba(255, 255, 255, 0.094);
  padding-top: 15px;
  
}

.CopyRights .foot_logos a {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.menu_bar a {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 100px 10px 100px;

}

.main-container {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}

.container {
  background-color: #fafafa;
  margin: 200px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 40% 60%;
}
.container-time {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 50px;
  outline: 3px dashed #998100;
  outline-offset: -30px;
  text-align: center;
}
.heading {
  font-size: 35px;
  text-transform: uppercase;
}
.heading-days {
  color: #998100;
  font-size: 30px;
}
.heading-phone {
  font-size: 20px;
}

.container-form {
  padding: 20px 0;
  margin: 0 auto;
  color: #000;
}

form {
  display: grid;
  grid-row-gap: 20px;
}
form p {
  font-weight: 600;
}
.form-field {
  display: flex;
  justify-content: space-between;
}
input,
select {
  padding: 10px 15px;
}

.btn {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
}
